.home {
  margin-top: 100px;
}

.hero-text {
  font-family: "Poppins", sans-serif;
}

.title {
  background-color: #ed1c24;
  font-size: 14px;
  line-height: 24px;
  padding: 10px 30px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 0px;
}

.name {
  font-size: 80px;
  letter-spacing: -1px;
}

.designation {
  font-size: 30px;
}

.email {
  margin-top: 40px !important;
  font-family: "Poppins", sans-serif;
}

.social-icons li {
  list-style: none;
  margin-right: 30px;
  margin-top: 40px;
  font-size: 25px;
  cursor: pointer;
}

.hero-img {
  margin-left: 140px;
  margin-top: -40px;
}

.hero-img img {
  margin: 0 auto;
  float: none;
  text-align: center;
  border: 20px solid rgba(0, 0, 0, 0.17);
  border-radius: 50%;
}

.img-border {
  height: 400px;
  width: 400px;
  border: 20px solid rgba(0, 0, 0, 0.07);
  margin: 0 auto;
  border-radius: 50%;
}
